[submodule "flower"]
	path = flower
	url = https://github.com/emelyanovkr/flower.git
[submodule "ClickHouseAppender"]
	path = ClickHouseAppender
	url = https://github.com/emelyanovkr/ClickHouseAppender.git
