<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="StdOut" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:LogMsgLayout.json"/>
        </Console>
        <ClickHouseAppender name="ClickHouseAppender" ignoreExceptions="false">
            <JsonTemplateLayout eventTemplateUri="classpath:LogMsgLayout.json" />
        </ClickHouseAppender>
    </Appenders>
    <Loggers>
        <Logger name="com.crypto.service" level="INFO" additivity="false">
            <AppenderRef ref="ClickHouseAppender"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="ClickHouseAppender"/>
        </Root>
    </Loggers>
</Configuration>